.App {
  max-width: 1040px;
  width: 100%;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.classes {
  margin: 1em 0;
}

.inputArea {
  display: flex;
  margin-top: 20px;
}

.inputArea p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
}

.inputs {
  flex-grow: 2;
  flex-shrink: 0;
  margin-right: 20px;
}

.inputs div {
  margin-top: 34px;
}

.inputs div:first-of-type {
  margin-top: 0;
}

.inputs textarea, input {
  width: 100%;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  padding: 12px 15px;
}

.inputs textarea {
  resize: vertical;
  height: 100px;
}

.inputs button {
  color: white;
  background-color: #0069b4;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-top: 20px;
  cursor: pointer;
}

.examples {
  max-width: 35%;
}

.examples button {
  width: 100%;
  cursor: pointer;
  padding: 12px 15px;
  border: 1px solid #d3d3d3;
  color: #333333;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: block;
  margin: 0 0 -1px;
  font-size: 1rem;
  text-align: left;
}

.examples button.active {
  background-color: #d3d3d3;
}

.examples button:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.examples button:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

a, a:visited {
  color: #0069b4;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
}

nav li {
  display: list-item;
  max-width: 25%;
  flex-basis: auto;
  flex-shrink: 1;
  margin: 0 11px;
}

nav li:first-of-type {
  margin-left: 0;
}

.navLink {
  color: #0069b4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 42px;
  height: 100%;
  max-height: 55px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 8px;
}

.navLink.active {
  color: #fff;
  background-color: #0069b4;
}

.answers {
  color: #333;
  margin-top: 15px;
  border-radius: 0.25rem;
  font-size: 18px!important;
  margin-bottom: 80px;
}

.answers p {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.answer {
  border: 1px solid #d3d3d3;
  border-radius: 0.25rem;
  padding: 20px;
  margin: 0 0 20px;
  background-color: #fff;
  line-height: 2rem;
}

.card {
  padding: 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-right: 7px;
}
.innerTip {
  border: 1px solid #fff;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 5px;
  text-transform: uppercase;
}
.tooltip {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  z-index: 15;
}
.tooltipInner {
  margin-top: 5px;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.4);
  max-width: 200px;
  white-space: normal;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  padding: 5px 10px;
  display: block;
  float: right;
}
.card:hover .tooltip {
  opacity: 1;
}
.loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0069b4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0069b4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #d3d3d3;
}

.footerList {
  padding-left: 50%;
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  justify-content: space-between;
  padding-right: 20px;
}
.footerList li {
  display: flex;
}
.footerList span {
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  height: 1.5rem;
}
.footerList a {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.1rem;
  text-decoration: none;
  color: #575757;
}
.footerList a:hover {
  border-bottom: 1px solid #575757;
}
.footerList img {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .footerList {
    padding-left: 40%;
  }
  .inputs textarea {
    height: 125px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 25px;
  }
  .inputArea {
    flex-flow: column-reverse;
  }
  .examples {
    max-width: 100%;
  }
  .inputs {
    margin-top: 20px;
    margin-right: 0;
  }
  .answers {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .answer:last-child {
    margin: 0;
  }
  .footer {
    margin-top: 40px;
    padding-top: 60px;
  }
  .footerList {
    padding-left: 30%;
  }
}

@media only screen and (max-width: 450px) {
  .footerList {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 340px) {
  .footerList {
    padding-left: 0;
    padding-right: 0;
  }
  .inputs textarea {
    height: 150px;
  }
}
